html {
    background-color: black;
}

h1 {
    text-align: left;
    font-size: 32;
    color: white;
    font-family: Helvetica, Arial, sans-serif
}

p {
    text-align: left;
    font-size: 12;
    color: white;
    font-family: Helvetica, Arial, sans-serif
}

